@import "./variables.css";

/* ========================================================================== */
/* Global reset */
/* ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========================================================================== */
/* Base document styling */
/* ========================================================================== */

body {
  font-family: "Cormorant Garamond", "Baskerville", "Georgia", serif;
  background-color: var(--color-background);
  color: var(--color-text);
}
