/* ========================================================================== */
/* Global reset */
/* ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ========================================================================== */
/* Base document styling */
/* ========================================================================== */

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: #f9f7f5;
  color: #1b1b1b;
}
